<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="index" align="center">
    <h1> Wailters Availability </h1>

<p> Hello, {{name}} ..Please select 3 working Days.</p>
    <form class="weekDays" action="" method="post">
        <input type="checkbox" name="weekdays" value="Monday" >Monday
        <input type="checkbox" name="weekdays" value="Tuesday">Tuesday
        <input type="checkbox" name="weekdays" value="Wednesday">Wednesday
        <input type="checkbox" name="weekdays" value="Thursday"> Thursday
        <input type="checkbox" name="weekdays" value="Friday">Friday
        <input type="checkbox" name="weekdays" value="Saturday">Saturday
        <input type="checkbox" name="weekdays" value="Sunday"> Sunday
        <button type="submit" name="button">Submit</button>
    </form>

{{#each Day}}
<p>
{{this}}
</p>
{{/each}}
</div>
</body>
