<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Combo|Margarine|Risque" rel="stylesheet">
</head>

<body>
    <div class="index" align="center">
        <br>
    <h1> Wailters Availability </h1>
<div class="error">
    {{messages.error}}


</div>
<div class="message">
{{message}}
</div>
<br>
<br>
    <form class="weekDays" action="" method="post">
        <input type="checkbox" name="weekdays" value="Monday" {{#if selected.Monday}}checked{{/if}} >Monday
        <input type="checkbox" name="weekdays" value="Tuesday" {{#if selected.Tuesday}}checked{{/if}} >Tuesday
        <input type="checkbox" name="weekdays" value="Wednesday" {{#if selected.Wednesday}}checked{{/if}} >Wednesday
        <input type="checkbox" name="weekdays" value="Thursday" {{#if selected.Thursday}}checked{{/if}} > Thursday
        <input type="checkbox" name="weekdays" value="Friday" {{#if selected.Friday}}checked{{/if}} >Friday
        <input type="checkbox" name="weekdays" value="Saturday" {{#if selected.Saturday}}checked{{/if}} >Saturday
        <input type="checkbox" name="weekdays" value="Sunday" {{#if selected.Sunday}}checked{{/if}} > Sunday
        <button type="submit" name="button">Submit</button>
    </form>

<br>
<div class="update">
{{info}}

<br>
{{#each Day}}
<li>
{{this}}
</li>
{{/each}}
</p>
</div>
<br>
</div>
</body>
