<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="index" align="center">
    <h1> Wailters Availability </h1>
    {{messages.error}}
{{message}}
    <form class="weekDays" action="" method="post">
        <input type="checkbox" name="weekdays" value="Monday" {{#if Day.Monday}}checked{{/if}} >Monday
        <input type="checkbox" name="weekdays" value="Tuesday" {{#if Day.Tuesday}}checked{{/if}} >Tuesday
        <input type="checkbox" name="weekdays" value="Wednesday" {{#if Day.Wednesday}}checked{{/if}} >Wednesday
        <input type="checkbox" name="weekdays" value="Thursday" {{#if Day.Thursday}}checked{{/if}} > Thursday
        <input type="checkbox" name="weekdays" value="Friday" {{#if Day.Friday}}checked{{/if}} >Friday
        <input type="checkbox" name="weekdays" value="Saturday" {{#if Day.Saturday}}checked{{/if}} >Saturday
        <input type="checkbox" name="weekdays" value="Sunday" {{#if Day.Sunday}}checked{{/if}} > Sunday
        <button type="submit" name="button">Submit</button>
    </form>

{{#each Day}}
<p>
{{this}}
</p>
{{/each}}
</div>
</body>
