body{
    background-color: lavender;
    background-image: url("waiter.jpg");
}

table{
    align: center;
    width: 70%;
    background-color: beige;
}
table, tr, td,th{
    border-collapse: collapse;
    border: 2px solid black;
}
li{
    list-style: none;
}
.index{
    background-color: beige;
    margin-left: 5em;
    margin-right: 5em;
}

.needMore{
    background-color: orange;
}
.enough{
    background-color: green;
}
.warning{
    background-color: red;
}
